@model IEnumerable<SalesWeb.Models.Departamento>

@{
    ViewData["Title"] = "Departamentos";
}

<h2>@ViewData["Title"]</h2>

<p>
    <div class="form-group">
        <a asp-action="Create"><input type="button" value="Novo" class="btn btn-primary btn-sm" /></a>
    </div>
</p>
<table class="table table-hover">
    <thead>
        <tr class="bg-primary">
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>
                    <div class="btn-group">
                        <a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Opções&nbsp; <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-action="Details" asp-route-id="@item.Id">Detalhes</a></li>
                            <li><a asp-action="Edit" asp-route-id="@item.Id">Editar</a></li>
                            <li><a asp-action="Delete" asp-route-id="@item.Id">Remover</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
