@model SalesWeb.Models.Venda

@{
    ViewData["Title"] = "Cancelar venda";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Data)</dt>
        <dd>@Html.DisplayFor(model => model.Data)</dd>
        <dt>@Html.DisplayNameFor(model => model.Vendedor.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Vendedor.Nome)</dd>
        <dt>@Html.DisplayNameFor(model => model.Vendedor.Departamento.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Vendedor.Departamento.Nome)</dd>
        <dt>@Html.DisplayNameFor(model => model.Valor)</dt>
        <dd>@Html.DisplayFor(model => model.Valor)</dd>
        <dt>@Html.DisplayNameFor(model => model.Status)</dt>
        <dd>@Html.DisplayFor(model => model.Status)</dd>
    </dl>

    <p>Deseja realmente <strong>cancelar </strong> esta venda?</p>

    <form asp-action="Cancel">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-primary">Confirmar&nbsp; <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </form>
</div>
