@model IEnumerable<SalesWeb.Models.Venda>

@{
    ViewData["Title"] = "Vendas";
}

<h2>@ViewData["Title"]</h2>

<p>
    <div class="form-group">
        <a asp-action="New" class="btn btn-primary btn-sm">Novo&nbsp; <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>
</p>
<table class="table table-hover">
    <thead>
        <tr class="bg-primary">
            <th>@Html.DisplayNameFor(model => model.Data)</th>
            <th>@Html.DisplayNameFor(model => model.Vendedor.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Vendedor.Departamento.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Valor)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Data)</td>
            <td>@Html.DisplayFor(modelItem => item.Vendedor.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Vendedor.Departamento.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Valor)</td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
            <td>
                <div class="btn-group">
                    <a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Opções&nbsp; <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-action="Cancel" asp-route-id="@item.Id">Cancelar</a></li>
                        <li><a asp-action="Pay" asp-route-id="@item.Id">Pagar</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
